.toggle-modal-content {
    position: relative;
    transition: transform 0.25s ease, position 0.25s ease, width 0.25s ease, height 0.25s ease, z-index 0.25s ease, background-color 0.25s ease, filter 0.25s ease;
    z-index: auto;
}

.toggle-modal-content.fullscreen {
    position: fixed;
    top: 0vh;
    left: 0vw;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    border: 5px solid var(--accent-foreground-active);
    z-index: 10000;
}

.toggle-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    padding: 10px;
    border: none;
    background-color: transparent;
    z-index: auto;
}